.dash{
display : flex
}


.cardItem{
    height : 200px;
    width: 300px;
   background-color: rgb(30,30,48);
}

.cardbig{

    height : 350px;
    width: 1055px;
    background-color: rgb(30,30,48);
    
}

.D{

    width: 290px;
    height: 100px;


}